.wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
    width: 300px;
    background: #f1f1f1;
  }

  .ribbon {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 0 0 -20px;
    width: calc(100% + 20px);
    font-size: 22px;
    color: white;
    background: #70c7ff;
  }

  .ribbon:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px #6eb3e0;
  }

  p {
    padding: 0 20px;
}

/* ---- */

h1 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
  }
  
  h1:before, h1:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
  }
  
  h1:before {
    left:0;
  }
  h1:after {
    right: 0;
  }


  h2 {
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
  }

h3 {
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
  }
  
  h3::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }


/* ---- */

.container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.waku {
    width: 400px;
    display: inline-block;
}

.thick {
    position: relative;
    border: 2px solid #ca4;
    padding: 1em;
    color: #ca4;
    text-align: center;
}

.thick:before,
.thick:after,
.circle:before,
.circle:after {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    content: "";
    background-color: #fff ;
    border: 2px solid #ca4;
}
.thick:before {
    top: -12px;
    left: -12px;
}
.thick:after {
    top: -12px;
    right: -12px;
}
.circle:before {
    right: -12px;
    bottom: -12px;
}
.circle:after {
    left: -12px;
    bottom: -12px;
}

.over {
    overflow: hidden;
}

.thin {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border: 1px solid #ca4;
    z-index: 1;
}

.left {
    background: url("4.png") no-repeat;
    height: 250px;
    width: 250px;
    display: inline-block;
}

.right {
    background: url("4.png") no-repeat;
    height: 250px;
    width: 250px;
    display: inline-block;
    transform: scale(-1, 1);
}